**Data Types and Structures Questions**

1. What are data structures, and why are they important ?

   => Data structures are ways of organizing data so we can use it easily and efficiently. They matter because they help make programs faster and easier to manage


2. Explain the difference between mutable and immutable data types with examples ?

   => Mutable types can be changed, like a list:
   my_list = [1, 2, 3] (you can update the values).
   Immutable types can't be changed, like a tuple:
   my_tuple = (1, 2, 3) (you can't modify items).


3. What are the main differences between lists and tuples in Python ?

   => Lists can be changed, while tuples can't.
   Lists use square brackets, and tuples use parentheses.
   Lists are used when data needs to be updated whereas tuples are for fixed data.


4. Describe how dictionaries store data.

   => Dictionaries store information as key–value pairs, like labels pointing to specific data. Example: {"name": "Mayur"}.
   Each key is unique, so you can't have two identical keys.


5. Why might you use a set instead of a list in Python ?

   => Sets automatically remove duplicates and allow faster searching, so they're useful when you only need unique items. and They support set operations like union, intersection, and difference, which lists don't handle easily.


6. What is a string in Python, and how is it different from a list

   => A string is simply a sequence of characters, like a word or a sentence. It's written inside quotes.
   The main difference is that a string can't be changed once it's created, but a list can. Also, lists can hold many types of data - numbers, words, even other lists — while a string only holds characters.


7. How do tuples ensure data integrity in Python

   => Tuples are fixed, meaning once you create one, its values cant be changed. This makes them reliable when you want your data to stay the same throughout the program.
   Because nothing can be added, removed, or edited, tuples help prevent accidental changes.


8. What is a hash table, and how does it relate to dictionaries in Python

   => A hash table is a structure that stores data in a way that allows very fast lookups. It uses a unique key to find the value almost instantly. Python dictionaries are built using hash tables behind the scenes, which is why accessing a value by its key is so quick.


9. Can lists contain different data types in Python ?

   => Yes, Python is very flexible with lists.
   You can put numbers, strings, booleans, or even other lists together in one list.
   For example: [10, "hello", 2.5, True] is completely valid.


10. Explain why strings are immutable in Python.

    => Strings are made immutable so Python can handle them more efficiently and safely. Since they don't change, Python can reuse the same string in different places without worrying about it being modified. This also helps avoid unexpected bugs caused by accidental changes.


11. What advantages do dictionaries offer over lists for certain tasks ?

    => Dictionaries let you access data using a key instead of a position, which makes lookups much faster and easier.
    They're great when you need to store related information, like a name and age, because the key clearly describes the value. This makes your code more readable and efficient compared to searching through a list.


12. Describe a scenario where using a tuple would be preferable over a list.

    => A tuple is better when you have data that shouldn’t change, like coordinates (x, y), dates, or configuration settings. Since tuples are fixed, you don’t have to worry about the values being accidentally modified in your program.


13. How do sets handle duplicate values in Python ?

    => Sets simply don't allow duplicates. If you add the same value more than once, the set keeps only one copy.
    This makes sets useful when you want a collection of unique items without manually checking for repeats.
    

14. How does the "in" keyword work differently for lists and dictionaries

    => For a list, "in" checks whether a particular value exists in the list. For a dictionary, "in" checks for keys, not values—so "name" in my_dict looks for a key called "name".


15. Can you modify the elements of a tuple? Explain why or why not

    => No, you can’t change the elements of a tuple.
    Tuples are designed to be immutable, meaning once they're created, their contents are locked. This helps keep certain data safe and prevents accidental changes.


16. What is a nested dictionary, and give an example of its use case

    => A nested dictionary is a dictionary that contains another dictionary inside it.
    It's useful when you want to store structured data, like details about multiple students.
    Example:
    students = {
        "101": {"name": "Mayur", "age": 20},
        "102": {"name": "Aarav", "age": 19}
    }


17. Describe the time complexity of accessing elements in a dictionary

    => Accessing an element in a dictionary is usually O(1), meaning it takes constant time. This is because dictionaries use hashing, which makes lookups very fast.


18. In what situations are lists preferred over dictionaries

    => Lists are preferred when the order of items matters or when you want to store simple collections of data.
    They're great for tasks like looping through items, keeping a sequence, or storing values without needing keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

    => Dictionaries don't store items in a fixed position like lists do. Instead, they place items based on their hash values, not index positions. This means you can't rely on the order of elements, but you can always retrieve values quickly using keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    => With a list, you get data by its position (index).
    With a dictionary, you get data by its key, which is faster and more descriptive. Lists work like numbered shelves, while dictionaries work like labeled drawers.
    A list is like finding a book by its shelf number.
    A dictionary is like finding a contact by searching their name on your phone—it goes straight to the person.

In [3]:
# 1. Write a code to create a string with your name and print it.

name = "Mayur"
print(f"name:  {name}")

name:  Mayur

In [2]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)           # adding 10 at the end
print(lst)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)            # removing 3 from the list
print(lst)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [14]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

nums = [10, 20, 30, 40, 50]
nums.reverse()           # reversing the list
print(nums)

[50, 40, 30, 20, 10]

In [15]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))      # min() finds the smallest value (minimum)

5

In [27]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print("index of cat is:", animals.index("cat"))   # index() tells the position

index of cat is: 1

In [28]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [29]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [35]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
print(f"Set s before removing:  {s}")
s.clear()             # removes all elements
print(f"Set s After removing all elements: {s}")

Set s before removing:  {1, 2, 3, 4, 5}
Set s After removing all elements: set()

In [40]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4}
print(f"Set s before removing element 4 : {s}")
s.remove(4)
print(f"Set s after removing element 4 : {s}")

Set s before removing element 4 : {1, 2, 3, 4}
Set s after removing element 4 : {1, 2, 3}

In [41]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))   # combines elements

{1, 2, 3, 4, 5}

In [42]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))   # common elements

{2, 3}

In [43]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.


person = {
    "name": "Mayur",
    "age": 23,
    "city": "Mumbai"
}
print(person)

{'name': 'Mayur', 'age': 23, 'city': 'Mumbai'}

In [46]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {'name': 'John', 'age': 25}
print(f"Before adding new key-value pair : {d}")
d['country'] = 'USA'      # adding new key-value pair
print(f"After adding new key-value pair : {d}")

Before adding new key-value pair : {'name': 'John', 'age': 25}
After adding new key-value pair : {'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

data = {'name': 'Alice', 'age': 30}
print(data['name'])       # accessing the value

Alice

In [48]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')              # removing age
print(d)

{'name': 'Bob', 'city': 'New York'}

In [49]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)        # True if key exists

True

In [51]:
# 26 .Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
my_dict = {"name": "Mayur", "age": 20}

print(f"List : {my_list}")
print(f"Tuple : {my_tuple}")
print(f"Dictionary : {my_dict}")

List : [1, 2, 3]
Tuple : (10, 20, 30)
Dictionary : {'name': 'Mayur', 'age': 20}

In [78]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

nums = [random.randint(1, 100) for _ in range(5)]   # 5 random numbers
nums.sort()                                  # sort ascending
print(nums)

[11, 17, 28, 69, 75]

In [80]:
# 28. Write a code to create a list with strings and print the element at the third index.


words = ["apple", "banana", "cherry", "orange", "grape"]
print(words[3])

orange

In [84]:
# 29. Write a code to combine two dictionaries into one and print the result.


d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

combined = {**d1, **d2}   # merging dictionaries
print(combined)

d3 = {"a": 10, "b": 20}
d4 = {"c": 30, "d": 40}

combined = d3 | d4
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [82]:
# 30. Write a code to convert a list of strings into a set.

names = ["a", "b", "c", "a"]   # duplicates allowed in list
result = set(names)            # set removes duplicates
print(result)

{'a', 'b', 'c'}